* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body{
  background-color:#EBE5DD ;
  overflow: hidden;
 
}
/* Hide scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.image-nav{
  width: 45px;
  height: 45px;
}
.r-container{
  overflow: scroll;
  position: relative;
}

.r-card{
  border-radius: 20px;
}
.r-card>img{
  width: 70%;
  max-width: 15rem;
}
.r-card>:nth-child(2){
  font-size: 1.2rem;
  font-weight: 600;
}
.r-card>:nth-child(3){
  font-size: 1.5rem;
}
.r-card>:nth-child(4){
  font-size: 0.7rem;
  max-width: 15rem;
}
/* .r-card:hover{
  cursor: pointer;
  scale: 1.025;
  background: linear-gradient(180deg,rgba(
      255,255,255,0
  )0%,rgba(
      136,160,255,0.46
  )217.91%);
  box-shadow: 0px 72px 49px -51px rgba(
          136,160,255,0.21
      );
} */
.swiper-horizontal{
  overflow: visible; 
}

.r-buttons button{

font-size: 1.2rem;
padding: 0.2rem 0.8rem;
color: blue;
border: none;
border-radius: 5px;
background-color: aliceblue;
cursor: pointer;

}
.checkout-btn{
  background: linear-gradient(30deg ,#181516,#424242);
}
/* @media (min-width: 1136px) {
  section {
    max-width: 780px;
    margin: auto;
    
  }
} */
@media (min-width: 806px) {
  section {
    margin: auto;
    
  }
}

@media (min-width:390px) {
  .sb-tt{
    padding-top: 10%;
  }
  .tt-price{
    padding-top: 10%;
  }
}
